* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container-full {
    width: 100%;
}

.container-lrg {
    width: 1300px;
    margin: 0 auto;
}

.container-mddl {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header ul li {
    display: inline-block;
    vertical-align: middle;
}

header ul li:not(#header-button) {
    padding: 10px 20px;
}

#inizia-button {
    padding: 10px 20px;
}

#inizia-button:hover {
    background-color: #0D2481;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

#jumbo li:not(#arrow) {
    padding: 20px 0;
}

#arrow {
    padding: 60px 0 20px 0;
}

#jumbo i::before {
    font-size: 40px;
}

.img-jumbo {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* COLONNE */

.col-20 {
    width: 20%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-100 {
    width: 100%;
}

/* BACKGROUND COLOR */

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #0061FF;
}

.bg-darkblue {
    background-color: #0D2481;
}

.bg-mddlblue {
    background-color: #0093CE;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.bg-green {
    background-color: #A2D39B;
}

.bg-lightgreen {
    background-color: #D1E9CD;
}

.bg-red {
    background-color: #FF1C1C;
}

.bg-redwine {
    background-color: #61082B;
}

.bg-darkred {
    background-color: #D5001F;
}

.bg-yellow {
    background-color: #FFD830;
}

.bg-white {
    color: white;
}

/* COLOR TEXT */

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-redwine {
    color: #61082B;
}

.c-grey {
    color: #999999;
}

/* TEXT ALIGN */

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.va-middle {
    vertical-align: middle;
}

/* ALIGN */

.align-c-center {
    align-content: center;
}

/* MARGIN */

.margin-r-20 {
    margin-right: 20px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-t-50 {
    margin-top: 50px;
}

/* PADDING */

.p-t-b-5 {
    padding: 5px 0;
}

/* JUSTIFY CONTENT */

.jc-between {
    justify-content: space-between;
}

/* DISPLAY */

.display-f-w {
    display: flex;
    flex-wrap: wrap;
}

/* H TEST */

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

.h-500 {
    height: 700px;
}

.h-600 {
    height: 600px;
}